@import url("https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap");
html {
  font-size: 16px;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-style: normal;
  scroll-behavior: smooth;
}

body {
  position: relative;
  margin: 0;
  overflow-y: scroll;
  color: #181d42;
  background-color: #ffffff;
}

a,
button,
input,
textarea {
  font-family: "Merriweather", sans-serif;
  text-decoration: none;
}

figure {
  margin: 0;
}

img {
  max-width: 100%;
  height: auto;
}

.container {
  max-width: 2560px;
  width: 100%;
  margin: 0 auto;
  padding: 0 100px;
  box-sizing: border-box;
}
@media (max-width: 1920px) {
  .container {
    padding: 0 56px;
  }
}
@media (max-width: 992px) {
  .container {
    padding: 0 20px;
  }
}

.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
  min-height: 480px;
  overflow: hidden;
  background: url(../assets/header-bg.png) center bottom no-repeat;
}
@media (max-width: 1920px) {
  .header {
    min-height: 360px;
    background-size: 1920px;
    background-position: left bottom;
  }
}
@media (max-width: 1440px) {
  .header {
    min-height: 240px;
  }
}
@media (max-width: 1080px) {
  .header {
    min-height: 200px;
    background-size: 1080px;
  }
}
@media (max-width: 768px) {
  .header {
    min-height: 180px;
  }
}
@media (max-width: 576px) {
  .header {
    min-height: 158px;
  }
}
.header .container {
  position: relative;
  display: flex;
  justify-content: flex-end;
  padding-top: 128px;
}
@media (max-width: 1920px) {
  .header .container {
    padding-top: 100px;
  }
}
@media (max-width: 1440px) {
  .header .container {
    padding-top: 56px;
  }
}
@media (max-width: 1080px) {
  .header .container {
    padding-top: 40px;
  }
}
@media (max-width: 992px) {
  .header .container {
    align-items: center;
    justify-content: space-between;
    gap: 36px;
    padding-top: 24px;
  }
}
.header__logo {
  position: absolute;
  top: 82px;
  left: 50%;
  width: -moz-fit-content;
  width: fit-content;
  transform: translate3d(-50%, 0, 0);
}
@media (max-width: 1920px) {
  .header__logo {
    top: 72px;
  }
}
@media (max-width: 1440px) {
  .header__logo {
    top: 42px;
  }
}
@media (max-width: 1080px) {
  .header__logo {
    top: 32px;
  }
}
@media (max-width: 992px) {
  .header__logo {
    position: static;
    transform: none;
  }
}
.header__logo-link {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header__logo-link-image {
  display: block;
  max-width: 100%;
  width: 480px;
  height: auto;
}
@media (max-width: 1920px) {
  .header__logo-link-image {
    width: 400px;
  }
}
@media (max-width: 1440px) {
  .header__logo-link-image {
    width: 300px;
  }
}
@media (max-width: 1080px) {
  .header__logo-link-image {
    width: 200px;
  }
}
@media (max-width: 992px) {
  .header__logo-link-image {
    width: 216px;
  }
}
.header__nav {
  display: flex;
  gap: 103px;
}
@media (max-width: 1920px) {
  .header__nav {
    gap: 70px;
  }
}
@media (max-width: 1440px) {
  .header__nav {
    gap: 50px;
  }
}
@media (max-width: 1080px) {
  .header__nav {
    gap: 38px;
  }
}
@media (max-width: 576px) {
  .header__nav {
    flex: 0 0 auto;
    align-items: flex-end;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 4px;
  }
}
.header__nav-link {
  font-weight: 400;
  font-size: 28px;
  line-height: 110%;
  color: #000;
  transition-property: color;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
}
@media (max-width: 1920px) {
  .header__nav-link {
    font-size: 24px;
  }
}
@media (max-width: 1440px) {
  .header__nav-link {
    font-size: 20px;
    line-height: 143%;
  }
}
@media (max-width: 1080px) {
  .header__nav-link {
    font-size: 14px;
    line-height: 143%;
  }
}
@media (max-width: 576px) {
  .header__nav-link {
    line-height: 130%;
  }
}
.header__nav-link:hover {
  color: #9b7113;
}
.header__burger {
  flex: 0 0 auto;
  display: none;
  width: 55px;
  height: 55px;
  background: url(../assets/burger.svg) center no-repeat;
  background-color: #9b7113;
  transition-property: background-color, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
}
@media (max-width: 992px) {
  .header__burger {
    display: block;
  }
}
.header__burger:hover {
  background-color: #825d0f;
}
.header__burger:active {
  transform: scale(0.98);
}

.main {
  overflow: hidden;
}

.self-manifestation {
  position: relative;
  max-width: 2558px;
  margin: 0 auto;
  padding-top: 566px;
  padding-bottom: 68px;
  background: url(../assets/main-bg.svg) top -1100px right -500px no-repeat;
}
@media (max-width: 1920px) {
  .self-manifestation {
    padding-top: 440px;
    background-position: top -1100px right -600px;
  }
}
@media (max-width: 1440px) {
  .self-manifestation {
    padding-top: 290px;
    padding-bottom: 34px;
    background-position: top -900px right -600px;
    background-size: 1920px;
  }
}
@media (max-width: 1080px) {
  .self-manifestation {
    padding-top: 205px;
    background-position: top -450px right -200px;
    background-size: 1080px;
  }
}
@media (max-width: 768px) {
  .self-manifestation {
    padding-top: 250px;
    padding-bottom: 41px;
    background-position: top -260px right -175px;
    background-size: 740px;
  }
}
@media (max-width: 576px) {
  .self-manifestation {
    padding-top: 225px;
  }
}
.self-manifestation::before {
  content: "";
  position: absolute;
  top: 62px;
  right: -620px;
  z-index: 1;
  display: block;
  width: 1015px;
  height: 1007px;
  background: url(../assets/cherry.png) center no-repeat;
  background-size: cover;
}
@media (max-width: 1440px) {
  .self-manifestation::before {
    top: 120px;
    right: -300px;
    width: 500px;
    height: 500px;
  }
}
@media (max-width: 1080px) {
  .self-manifestation::before {
    top: 15px;
    right: -243px;
    width: 398px;
    height: 395px;
  }
}
@media (max-width: 768px) {
  .self-manifestation::before {
    top: auto;
    right: -184px;
    bottom: 100px;
    width: 372px;
    height: 372px;
    transform: scale(-1, 1);
  }
}
@media (max-width: 768px) {
  .self-manifestation::before {
    right: -190px;
    bottom: 120px;
    width: 360px;
    height: 360px;
  }
}
.self-manifestation .container {
  display: flex;
  gap: 82px;
}
@media (max-width: 1440px) {
  .self-manifestation .container {
    gap: 52px 40px;
  }
}
@media (max-width: 768px) {
  .self-manifestation .container {
    flex-direction: column;
  }
}
.self-manifestation__figure {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1 1 1138px;
}
@media (max-width: 768px) {
  .self-manifestation__figure {
    flex: 0 1 auto;
  }
}
.self-manifestation__figure-image {
  display: block;
  max-width: 100%;
  height: auto;
}
@media (max-width: 768px) {
  .self-manifestation__figure-image {
    width: calc(100% - 100px);
  }
}
.self-manifestation__content {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  flex: 1 1 1138px;
  gap: 50px;
  padding: 88px 0 136px;
}
@media (max-width: 1440px) {
  .self-manifestation__content {
    gap: 24px;
    padding: 36px 0 102px;
  }
}
@media (max-width: 992px) {
  .self-manifestation__content {
    padding: 36px 0 60px;
  }
}
@media (max-width: 768px) {
  .self-manifestation__content {
    flex: 0 1 auto;
    gap: 14px;
    padding: 0;
  }
}
.self-manifestation__title {
  margin: 0;
  font-weight: 700;
  font-size: 64px;
  text-transform: uppercase;
  color: #cc9e46;
}
@media (max-width: 1920px) {
  .self-manifestation__title {
    font-size: 48px;
  }
}
@media (max-width: 1440px) {
  .self-manifestation__title {
    font-size: 36px;
  }
}
@media (max-width: 1080px) {
  .self-manifestation__title {
    font-size: 26px;
  }
}
@media (max-width: 768px) {
  .self-manifestation__title {
    font-size: 24px;
  }
}
.self-manifestation__text {
  margin: 0;
  font-weight: 400;
  font-size: 32px;
  line-height: 150%;
  color: #000;
}
@media (max-width: 1920px) {
  .self-manifestation__text {
    font-size: 28px;
  }
}
@media (max-width: 1440px) {
  .self-manifestation__text {
    font-size: 22px;
  }
}
@media (max-width: 1080px) {
  .self-manifestation__text {
    font-size: 14px;
    line-height: 143%;
  }
}
@media (max-width: 768px) {
  .self-manifestation__text {
    font-size: 12px;
    line-height: 150%;
  }
}

@media (max-width: 768px) {
  .rich-video .container {
    padding: 0;
  }
}
.rich-video__wrapper {
  position: relative;
}
.rich-video__content {
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  aspect-ratio: 1.786525/1;
  background: url(../assets/rich-logo.svg) center no-repeat;
  background-color: #06223e;
}
@media (max-width: 1920px) {
  .rich-video__content {
    background-size: 44%;
  }
}
.rich-video__content > * {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.rich-video__bg {
  position: absolute;
  top: -60px;
  right: -27px;
  z-index: 1;
  width: calc(100% - 60px);
  aspect-ratio: 1.849678/1;
  background: #9b7113;
  transform: rotate(-7deg);
}
@media (max-width: 1440px) {
  .rich-video__bg {
    top: -24px;
    right: -11px;
    width: calc(100% - 26px);
  }
}
@media (max-width: 768px) {
  .rich-video__bg {
    top: -8px;
    left: 50%;
    right: auto;
    width: calc(100% - 10px);
    transform: translateX(-50%) rotate(-4deg);
  }
}
.rich-video__bg::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 12.2%;
  border-radius: 0 0 40px 40px;
  box-shadow: 0 4px 25px 0 rgba(0, 0, 0, 0.45);
}

.exercise {
  padding: 160px 0 0;
}
@media (max-width: 1080px) {
  .exercise {
    padding: 41px 0 0;
  }
}
@media (max-width: 768px) {
  .exercise {
    padding: 35px 0 300px;
  }
}
.exercise .container {
  position: relative;
}
.exercise .container::before {
  content: "";
  position: absolute;
  top: -60px;
  left: -410px;
  z-index: -1;
  display: block;
  width: 1000px;
  aspect-ratio: 1/1;
  background: url(../assets/cherry.png) center/cover no-repeat;
  transform: rotate(45deg);
}
@media (max-width: 1920px) {
  .exercise .container::before {
    top: 80px;
    left: -310px;
    width: 800px;
  }
}
@media (max-width: 1440px) {
  .exercise .container::before {
    top: 120px;
    left: -300px;
    width: 700px;
  }
}
@media (max-width: 1080px) {
  .exercise .container::before {
    top: -40px;
    left: -200px;
    width: 480px;
    transform: rotate(-45deg) scale(-1, 1);
  }
}
@media (max-width: 768px) {
  .exercise .container::before {
    top: 100px;
    left: -170px;
    width: 360px;
  }
}
@media (max-width: 576px) {
  .exercise .container::before {
    display: none;
  }
}
.exercise .container::after {
  content: "";
  position: absolute;
  bottom: -140px;
  right: -460px;
  z-index: -1;
  display: block;
  width: 1000px;
  aspect-ratio: 1/1;
  background: url(../assets/cherry.png) center/cover no-repeat;
  transform: rotate(45deg);
}
@media (max-width: 1920px) {
  .exercise .container::after {
    bottom: 120px;
    right: -380px;
    width: 800px;
  }
}
@media (max-width: 1440px) {
  .exercise .container::after {
    bottom: 240px;
    right: -300px;
    width: 640px;
  }
}
@media (max-width: 1080px) {
  .exercise .container::after {
    bottom: 80px;
    right: -200px;
    width: 480px;
  }
}
@media (max-width: 768px) {
  .exercise .container::after {
    bottom: 100px;
    right: -170px;
    width: 400px;
  }
}
@media (max-width: 576px) {
  .exercise .container::after {
    bottom: -240px;
  }
}
.exercise__tag {
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto 90px;
  padding: 11px 41px;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: lowercase;
  color: #d8a84d;
  border: 2px solid #c2a36d;
  border-radius: 40px;
}
@media (max-width: 1080px) {
  .exercise__tag {
    margin: 0 auto 40px;
    font-size: 14px;
  }
}
@media (max-width: 768px) {
  .exercise__tag {
    margin: 0 0 36px;
  }
}
.exercise__title {
  font-family: "Merriweather", sans-serif;
  margin: 0 0 50px;
  font-weight: 700;
  font-size: 84px;
  text-transform: uppercase;
  text-align: center;
  color: #000;
}
@media (max-width: 1080px) {
  .exercise__title {
    margin: 0 0 24px;
    font-size: 36px;
  }
}
@media (max-width: 768px) {
  .exercise__title {
    margin: 0 0 14px;
    text-align: left;
  }
}
.exercise__description {
  max-width: 1540px;
  margin: 0 auto 90px;
  font-family: "Merriweather", sans-serif;
  font-weight: 700;
  font-size: 48px;
  text-align: center;
  color: #000;
}
@media (max-width: 1080px) {
  .exercise__description {
    max-width: 620px;
    margin: 0 auto 40px;
    font-size: 24px;
  }
}
@media (max-width: 768px) {
  .exercise__description {
    margin: 0 auto 36px;
    text-align: left;
  }
}
.exercise__steps {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 80px;
  margin: 0 0 90px;
}
@media (max-width: 1920px) {
  .exercise__steps {
    gap: 32px;
  }
}
@media (max-width: 1080px) {
  .exercise__steps {
    margin: 0 0 36px;
  }
}
@media (max-width: 992px) {
  .exercise__steps {
    gap: 24px;
  }
}
@media (max-width: 768px) {
  .exercise__steps {
    margin: 0 0 30px;
  }
}
.exercise__steps-card {
  display: flex;
  flex-direction: column;
  flex: 0 0 calc(33.3333333333% - 53.3333333333px);
  aspect-ratio: 1.0167/1;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1920px) {
  .exercise__steps-card {
    flex: 0 0 calc(33.3333333333% - 21.3333333333px);
  }
}
@media (max-width: 992px) {
  .exercise__steps-card {
    flex: 0 0 calc(50% - 12px);
  }
}
@media (max-width: 576px) {
  .exercise__steps-card {
    flex: 0 0 100%;
    max-width: 420px;
  }
}
.exercise__steps-card:nth-child(5n+1) {
  background-image: url(../assets/envelope-green.svg);
}
.exercise__steps-card:nth-child(5n+2) {
  background-image: url(../assets/envelope-yellow.svg);
}
.exercise__steps-card:nth-child(5n+3) {
  background-image: url(../assets/envelope-brown.svg);
}
.exercise__steps-card:nth-child(5n+4) {
  background-image: url(../assets/envelope-white.svg);
}
.exercise__steps-card:nth-child(5n+5) {
  background-image: url(../assets/envelope-blue.svg);
}
.exercise__steps-card-figure {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 12% auto 0;
  width: 36%;
}
.exercise__steps-card-figure-image {
  filter: brightness(100);
}
.exercise__steps-card:nth-child(5n+4) .exercise__steps-card-figure-image {
  filter: brightness(1);
}
.exercise__steps-card-number {
  margin-top: 5%;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 48px;
  color: #fff;
  text-align: center;
}
@media (max-width: 1920px) {
  .exercise__steps-card-number {
    font-size: 36px;
  }
}
@media (max-width: 1440px) {
  .exercise__steps-card-number {
    font-size: 28px;
  }
}
@media (max-width: 1080px) {
  .exercise__steps-card-number {
    font-size: 24px;
  }
}
.exercise__steps-card:nth-child(5n+4) .exercise__steps-card-number {
  color: #0e3060;
}
.exercise__steps-card-controls {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex: 1 1 auto;
  padding-bottom: 8%;
}
.exercise__steps-card-controls-button {
  padding: 30px 78px;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #fdfdfd;
  border: 2px solid #fdfdfd;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0);
  transition-property: background-color, border-color, color, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
}
@media (max-width: 1920px) {
  .exercise__steps-card-controls-button {
    padding: 24px 56px;
    font-size: 16px;
  }
}
@media (max-width: 1440px) {
  .exercise__steps-card-controls-button {
    padding: 16px 40px;
    font-size: 14px;
  }
}
@media (max-width: 1080px) {
  .exercise__steps-card-controls-button {
    padding: 12px 30px;
    font-size: 12px;
  }
}
.exercise__steps-card-controls-button:hover {
  background: white;
  color: #0e3060;
}
.exercise__steps-card-controls-button:active {
  transform: scale(0.98);
}
.exercise__steps-card:nth-child(5n+4) .exercise__steps-card-controls-button {
  color: #0e3060;
  border-color: #0e3060;
}
.exercise__steps-card:nth-child(5n+4) .exercise__steps-card-controls-button:hover {
  background: #0e3060;
  border-color: #0e3060;
  color: #ffffff;
}
.exercise__controls {
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 768px) {
  .exercise__controls {
    justify-content: flex-start;
  }
}
.exercise__controls-button {
  display: inline-block;
  padding: 30px 82px;
  font-family: "Merriweather", sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-transform: uppercase;
  color: #c3a266;
  border: 2px solid #c3a266;
  border-radius: 6px;
  background-color: #ffffff;
  transition-property: background-color, border-color, color, transform;
  transition-timing-function: ease-in-out;
  transition-duration: 0.1s;
  cursor: pointer;
}
@media (max-width: 1080px) {
  .exercise__controls-button {
    padding: 14px 36px;
    font-size: 14px;
  }
}
.exercise__controls-button:hover {
  background-color: #c3a266;
  color: #ffffff;
}
.exercise__controls-button:active {
  transform: scale(0.98);
}