.about {
  padding: 154px 0;

  @include desktop {
    padding: 80px 0;
  }

  @include tablet {
    padding: 28px 0;
  }

  & .container {
    position: relative;
    max-width: 1744px;

    &::before {
      content: '';
      position: absolute;
      top: 506px;
      left: calc(100% - 80px);
      display: block;
      width: 880px;
      aspect-ratio: 880 / 812;
      background: url(../assets/cherry2.webp) center / cover no-repeat;
      transform: rotate(8deg);

      @include desktopfhd {
        top: 100%;
        left: auto;
        right: -200px;
        width: 560px;
      }

      @include desktop {
        right: -200px;
        width: 400px;
      }

      @include laptoplg {
        right: -102px;
        width: 264px;
      }

      @include laptop {
        right: -160px;
      }

      @include tablet {
        right: -140px;
      }
    }
  }

  &__title {
    margin: 0 0 102px;
    font-weight: 700;
    font-size: 64px;
    text-transform: uppercase;
    text-align: center;
    color: #cc9e46;

    @include desktop {
      margin: 0 0 64px;
      font-size: 36px;
    }

    @include laptoplg {
      margin: 0 0 36px;
      font-size: 26px;
    }

    @include tablet {
      font-size: 36px;
      text-align: left;
    }
  }

  &__content {
    display: flex;
    gap: 87px;

    @include desktop {
      gap: 14px 40px;
    }

    @include tablet {
      flex-wrap: wrap;
    }

    &-text {
      flex: 1 1 50%;
      margin: 0;
      font-weight: 400;
      font-size: 28px;
      line-height: 129%;
      color: #000000;

      @include desktop {
        font-size: 18px;
      }

      @include laptoplg {
        font-size: 14px;
      }

      @include tablet {
        flex: 1 1 100%;
        font-size: 12px;
      }

      & a {
        color: #000000;
        text-decoration: underline;
        text-decoration-skip-ink: none;
      }
    }
  }
}
